# ROS 2 Build Folders
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# Binaries
*.exe
*.o
*.obj
*.so
*.dll
